:root {
  --blue: #227AFE;
  --green: #A1E92E;
  --orange: #FFC65F;
  --error: #F9F871;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lexend', sans-serif;
}

body {
  line-height: 1;
  min-height: 600px;
}

ol,
ul {
  list-style: none;
}

.container {
  display: flex;
}

.col {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.bg-blue {
  background-color: var(--blue);
}

.bg-white {
  background-color: #fff;
}

.ignore-overflow-x {
  overflow-x: hidden;
}

.cash-input {
  border: 2px solid;
  border-radius: 5px;

  height: 35px;
  width: 100%;

  margin: 14px 0;

  font-family: 'Lexend',
    sans-serif;

  padding-left: 6px;
}

.actions {
  width: 100%;
  justify-content: space-between;
}

:is(.button-green:hover, .button-orange:hover) {
  cursor: pointer;
}

.button-green {
  background-color: var(--green);
  
  border: 2px solid #000;
  border-radius: 5px;

  font-weight: 700;

  padding: 10px 10px;

  width: 100px;
}

.button-orange {
  background-color: var(--orange);
  
  border: 2px solid #000;
  border-radius: 5px;

  font-weight: 700;

  padding: 10px 10px;

  width: 100px;
}

.button-white {
  border: 2px solid #000;
  border-radius: 5px;

  font-weight: 700;

  padding: 10px 10px;

  width: 100px;
}

/* ================== Login Screen ================== */

.app {
  border-radius: 10px;

  margin-top: 20px;

  max-width: 300px;
  max-height: 768px;

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.app .logo {
  width: 100%;
}

.app .logo img {
  max-width: 200px;
  max-height: 250px;

  margin: 38px 0 31px 27px;
}

.app .text {
  color: #fff;

  padding: 0 27px 0 27px;
  margin-bottom: 31px;
}

.app .text .title {
  color: #fff;

  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.app .text .subtitle {
  color: #fff;

  font-size: 14px;
  font-weight: 300;

  text-align: justify;
}

.app .form {
  padding: 0 27px;
}

.app .form .form-group {
  margin-bottom: 31px;
}

.app .form .form-group label {
  color: #fff;

  font-size: 14px;
  font-weight: 400;

  margin-bottom: 6px;
}

.app .form .form-group input[type="text"] {
  height: 35px;

  border: none;
  border-radius: 5px;

  font-family: 'Lexend',
    sans-serif;
  font-size: 12px;
}

.app .form button#submit {
  background-color: var(--green);

  border: 2px solid #000000;
  border-radius: 10px;

  width: 100%;
  height: 35px;

  font-size: 14px;
  font-weight: 600;
}

/* ================== APP ================== */

nav.brand {
  padding: 24px 24px;
  justify-content: space-between;
}

nav.brand h1 {
  color: var(--blue);

  font-size: 20px;
  font-weight: 700;
}

nav.brand .logout {
  font-size: 14px;
  transition: all 0.3s ease-in;
}

nav.brand .logout:hover {
  color: #f00;
  cursor: pointer;

  text-decoration: underline;
}

.atm {
  width: 900px;

  /* Inicia nesse valor */
  margin-left: -300px;

  /* Vai para o formulário de depósito */
  /* margin-left: 0; */

  /* margin-left: -600px; */
}

.atm-title {
  font-size: 12px;
  font-weight: 500;
}

.atm .deposit {
  padding: 0 24px;
  width: 300px;
}

.atm .deposit .actions > .deposit-confirm {
  background-color: var(--green);

  border: 2px solid #000;
  border-radius: 5px;

  font-weight: 700;

  padding: 10px 10px;

  width: 100px;
}

.atm .deposit .actions > .deposit-cancel {
  border: 2px solid #000;
  border-radius: 5px;

  font-weight: 700;

  padding: 10px 10px;

  width: 100px;
}

.atm .total {
  padding: 0 24px;
  width: 300px;
}

.atm .total p.total-title {
  font-size: 14px;
  font-weight: 700;

  padding-bottom: 12px;
}

.atm .total p.eth-total {
  color: #fff;
  background-color: var(--blue);

  font-size: 32px;
  font-weight: 700;

  padding: 10px 30px;
  margin: 16px 0;
}

.atm .total .actions > .total-deposit {
  background-color: var(--green);

  border: 2px solid #000;
  border-radius: 5px;

  font-weight: 700;

  padding: 10px 10px;

  width: 100px;
}

.atm .total .actions > .total-withdraw {
  border: 2px solid #000;
  border-radius: 5px;

  font-weight: 700;

  padding: 10px 10px;

  width: 100px;
}

.atm .withdraw {
  padding: 0 24px;
  width: 300px;
}

/* ================== Animations ================== */
.goToDeposit {
  animation: toDeposit 0.8s forwards cubic-bezier(.17, .67, .83, .67);
}

@keyframes toDeposit {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: 0;
  }
}

.goToTotal {
  animation: toTotal 0.8s forwards cubic-bezier(.17, .67, .83, .67);
}

@keyframes toTotal {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -300px;
  }
}

.goToWithdraw {
  animation: toWithdraw 0.8s forwards cubic-bezier(.17, .67, .83, .67);
}

@keyframes toWithdraw {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: -600px;
  }
}